*{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}


.container{
    width: 100%;
    max-width: 1300px;
    margin: auto; 
}
/*  */
body {
    background-image: url('../img/pexels-polina-tankilevitch-4443508.png-0.25.png');
    background-size: contain;
   background-repeat: repeat;
  }
 header{
    height: 150px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

.Slogan{
    margin: 10px auto;
    font-size: 10px;
    border: black;
    border-style: solid;

}

#Logo{
 position: absolute;
 top: 8px;
left: 16px;
}

.LogoMobile{
    position: absolute;
     top: 8px;
    left: 16px;
    display: none;
    }
    
.mobileNavBTN{ 
    position: absolute;
    top: 8px;
    right: 16px;
    margin-top:5px;
    font-size:30px; 
    display: none; 
}
    
    


.IconBar{
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 8px;
   right: 16px;
   font-size: 20px;
   
   
   
    
}

.IconBar > li{
    margin-bottom: 40px;
    padding: 10px 20px;
   
    
  
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
}


.menu > li{
    margin-bottom: 40px;
    padding: 10px 20px;
}
h2{
    border: black;
    border-style: solid;

    
}
.SocialMediaLinks{
    margin-bottom: 90px;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 3px;
}

.SocialMediaLinks > li{
    padding: 10px 20px;
    margin-top: 35px;
}

.SocialMediaLinks > li > a{
    color:black;
    text-decoration: none;
    
}

.SocialMediaLinks > li > a > i{
    color:black;
    text-decoration: none;
    font-size:30px;
    
}

#banner > img{
    margin-top: 60px;
    width: 100%;
    margin-bottom: 30px;
}

.split5050{
    display: flex;
    flex-direction: row;
    
}

.split5050 > img{ /*As main_IMG*/
    width: 50%;
    height: auto;
    
}



.mainText{
    padding: 35px 28px;
    font-size: 21px;
    background-color: white;
    text-align: center;
}


.SocialMedia{
    width:100%;
    height:400px;
    margin-top: 50px;

}

.mySlides {
    display: none;
}
img {
    vertical-align: middle;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin-top:5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition:color 0.6s ease;
}

.mydots{
text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.Reviews{
    background: wheat;
    width:100%;
    height:400px;
    margin-top: 50px;
}
.Awards{
    position: absolute;
    left: 30px;
    margin-top: 80px; 
}
.Awards > img{
    width:450px;
    height:300px;
}


.ReviewList{
    list-style: none;
    position: absolute;
    flex-direction: row;
    right: 95px;
    margin-top: 40px;
    font-size: 15px;
    
}
.PreFooter{
    width: 100%;
    background-color: #D7DEDC;
    height: 180px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Follow{
    height: 150px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
}

h3{
    position: absolute;
    font-size: 30px;
}
h4{
    position: absolute;
    left: 250px;
    font-size: 30px;
}
h5{
    position: absolute;
    right: 250px;
    font-size: 35px;
}

.MenuList{
    list-style:circle;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 250px;
    margin-top: 45px;
    font-size:15px
}

.ContactSub{
    position: absolute;
    right: 180px;
    margin-top: 35px;
    font-size: 13px
}
    
.ContactList{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 318px;
    margin-top: 100px;
    font-size:13px

}
   
     
footer{
    width: 100%;
    background-color:#A9D3FF;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > span{
    font-size: 15px;
}





@media only screen and (max-width: 900px) {

    header{
        height: 90px;
    }

   header > h1{
       padding-left: 20px;
   }

   .split5050{
       flex-direction: column;
   }

   .tagline{
    font-size: 36px;
    margin: 30px 0px;
    }

    .mainText{
        font-size: 18px;
    }

    footer{
        height: 60px;
        margin: 0;
    }

    footer > span{
        font-size: 12px;
    }
    .ReviewDescription{
        margin-top: -200px;
        margin-left: 400px;
    }
    

}

@media only screen and (max-width: 600px) {

    footer > span{
        font-size: 18px;
    }

    .split5050{
        flex-direction: column-reverse;

    }.ReviewDescription{
        margin-top: -200px;
        margin-left: 400px;
    }
     

    
    
    
 
    

@media only screen and (max-width: 420px) {

    
    .container{
        width: 100%;
        max-width: 420px;
        margin: auto; 
    }
    
    .Slogan{
        font-size: 6px;
        border: black;
        border-style: solid;
       
    
    }
    
    #Logo{
     position: absolute;
     top: 8px;
     left: 16px;
     display: none;
    }
    
    .LogoMobile{
        position: absolute;
         top: 8px;
        left: 16px;
        display: flex;
    }
    
    .IconBar{
        list-style: none;
        display: none;
        flex-direction: row;
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 20px;    
      
    }
    h2{
        border: black;
        border-style: solid;
        font-size:10px;
        
    }
    
    .mobileNavBTN{ 
        position: absolute;
        top: 8px;
        right: 16px;
        margin-top:5px;
        font-size:30px; 
        display: flex; 
    }
    .menu{
        display: block;
        position: absolute;
        top:60px;
        height: 196px;
        left:0;
        width:100%;
        background-color: rgba(255,255,255,0.95)
            
    }
    
    .hide{
        display: none;
    }
    
    .menu > li{
        text-align:center;
        border-bottom: 1px solid #ccc;
        padding: 10px 10px;
    }
    
    #banner > img{
        margin-top: 20px;
        width: 100%;
        margin-bottom: 5px;
    }
    
    .mainText{
        padding: 30px 30px;
        font-size: 15px;
        background-color: white;
        text-align: center;
     
    }
    .split5050 > img{ /*As main_IMG*/
        width: 100%;
        height:100%;   
    }
    
    .mainIMG{
      margin-top: 10px;
      width:1000px;
      height:1000px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .SocialMedia{
        font-size:12px;
        width:100%;
        height:180px;
        margin-top: 10px;
        margin-bottom:0px;
    }
    
    .slideshow-container {
        max-width: 1300px;
        position: relative;
        margin-top: 0px;
      }
      
      /* Caption text */
      .text {
        color: black;
        font-size: 11px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: black;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        height: 10px;
        width: 10px;
        margin-top:5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition:color 0.6s ease;
      }
      
      .mydots{
      text-align: center;
      }
      
    
    .Reviews{
        background: wheat;
        width:100%;
        height:500px;
        margin-top: 0px;
        text-align: center;
        
    }
    
    .ReviewText{
        font-size:8px;
        text-decoration: underline;
    }
        
        
    }
    .Awards{
        right: 25px;
        text-align: center;
    }
    
    .Awards > img{
        margin-top: -50px;
        width:350px;
        height:180px;
    }
        
    .ReviewList{
        font-size: 10px;
        margin-left: 100px;
        margin-right: auto;
        margin-top: 220px;
    }
    
    
    .PreFooter{
        width: 100%;
        background-color: #D7DEDC;
        height: 260px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Follow{
        height: 150px;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        
    }
    
    h3{
        position: absolute;
        font-size: 15px;
        margin-top:35px;
        text-align: justify;
    }
    h4{
        position: absolute;
        left: 188px;
        font-size: 15px;
        margin-top:-50px;
        text-align: inherit;
        
    }
    h5{
        position: absolute;
        right: 170px;
        font-size: 15px;
        margin-top: 100px;
        text-align: justify;
       
    }
    
    .MenuList{
        list-style:circle;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 185px;
        margin-top: -20px;
        font-size:13px;
        
       
    }
    
    .ContactSub{
        position: absolute;
        right: 130px;
        margin-top: 120px;
        font-size: 8px;
        text-align:center;
        
      
    }
        
    .ContactList{
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 165px;
        margin-top:160px;
        font-size:8px;
        text-align: justify;
    }
        
    
    .SocialMediaLinks{
        margin-bottom: 90px;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 10px;
    }
    
    .SocialMediaLinks > li{
        padding: 10px 12px;
        margin-top: 55px;
    }
    
    .SocialMediaLinks > li > a{
        color:black;
        text-decoration: none;
    }
    
    .SocialMediaLinks > li > a > i{
        color:black;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
       
    }
    footer > span{
            font-size: 10px;
    }
    
}
    